.featuredProductsContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#activeSlider {
  transform: translateX(-290px);
}

.seeAllProductsBtn {
  padding: 15px;
  border-radius: 25px;
  width: 200px;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.featuredProductsContainer a {
  justify-self: center;
  align-self: center;
}
